fastapi
uvicorn[standard]
pandas
openpyxl
python-multipart
mysql-connector-python
python-dotenv
scikit-learn
prophet
matplotlib
aiofiles
reportlab
python-jose[cryptography]
passlib[bcrypt]
google-auth
